################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpDeepDive/.vs/
/CSharpDeepDive/obj
/CSharpDeepDive/bin/

01_CompilationDemo/bin/
01_CompilationDemo/obj/
01_CompilationDemo/.vs/

02_Encapsulation/bin/
02_Encapsulation/obj/
02_Encapsulation/.vs/

03_Abstraction/bin/
03_Abstraction/obj/
03_Abstraction/.vs/

04_Inheritance/bin/
04_Inheritance/obj/
04_Inheritance/.vs/
05_SOLID/.vs/
05_SOLID/obj/
06_TasksAndThreads/.vs/
06_TasksAndThreads/06_TasksAndThreads/bin/
06_TasksAndThreads/06_TasksAndThreads/obj/
